.container {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    text-align: center; 
}

.login-button button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    
    transition-behavior: ease-in-out;
    
    &:hover {
        background-color: blue;
    }
}

#unique-header {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px #aaa;
}

#apple {
    color: red;
    width: 100px;
}